body {
  font-family: Arial, sans-serif;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* FONDO */
  background-image: url("pensando.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
}
/* TÍTULO ARRIBA */
h1 {
  margin-bottom: 20px;
  color: #ff0000;
  text-shadow:
    0 0 1px #ff0000,
    0 0 3px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000;
}

/* CAJA DEL JUEGO */
.contenedor {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  text-align: center;


  border: 2px solid #00ff00;
  box-shadow:
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 40px #00ff00;

}

/* CLAVE */
.clave span {
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid white;
}

.acierto {
  color: lime;
}

/* TECLADO */
.teclado {
  margin-top: 20px;
}

.teclado button {
  margin: 5px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

/* CONTROLES */
.controles {
  margin-top: 20px;
}


















