/* IMPORTAR FUENTE CHULA */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  margin: 0;

  /*background: linear-gradient(135deg, #c8f7c5, #a8e6cf);*/
  background-image: url("img/fondo.jpg");
  background-size: cover;       /* ocupa toda la pantalla */
  background-position: center;  /* centrado */
  background-repeat: no-repeat; /* sin repetir */
}






/* TITULO */
h1 {
  font-size: 36px;
  margin-top: 20px;
}

/* PANEL */
.panel {
  background: rgba(255,255,255,0.7);
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  backdrop-filter: blur(10px);
}

/* INFO */
.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  font-size: 16px;
}

/* CONFIG */
.config {
  margin: 15px 0;
}

.config label {
  margin: 0 10px;
}

/* BOTONES */
.controls {
  margin-top: 10px;
}

button {
  padding: 10px 16px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: #222;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.08);
  background: #444;
}

/* MENSAJE */
#mensaje {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 600;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

/* CARTAS */
.card {
  width: 130px;
  height: 130px;
  background: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: 0.2s;
}

/* IMÁGENES */
.card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 8px;
}

/* TEXTO */
.card span {
  font-size: 14px;
  text-align: center;
}

/* EFECTO ACTIVO */
.card.active {
  border: 4px solid red;
  background: #ffe66d;
  transform: scale(1.15);
  box-shadow: 0 0 20px rgba(255,0,0,0.6);
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, 90px);
  }

  .card {
    width: 90px;
    height: 90px;
  }

  .card img {
    width: 50px;
    height: 50px;
  }

  .card span {
    font-size: 11px;
  }

  h1 {
    font-size: 26px;
  }

  #mensaje {
    font-size: 20px;
  }
}